@model AddNewTagViewModel

<form asp-controller="Settings" asp-action="PostTag" method="POST">
    @{
        for(int i = 0; i < Model.AllCategories.Count(); i++)
        {
            <input asp-for="@Model.Tag.Category" value="@Model.AllCategories[i]" type="radio" />
            <label asp-for="@Model.AllCategories[i]">@Model.AllCategories[i]</label>
            <input asp-for="@Model.AllCategories[i]" type="hidden" />
        }
    }
    <br />
    <label asp-for="@Model.Tag.Title"></label>
    <input asp-for="@Model.Tag.Title" />
    <span asp-validation-for="@Model.Tag.Title" class="text-danger"></span>
    <br />
    <input type="submit" value="Отправить" />
</form>