@using Razor_VS_Code_test.Utils;

@model MessagesListVievModel
@{
    ViewData["Title"] = "Ваши последние сообщения";
}
@{
    var titleLetter = Consts.IconPlaceholderUrl + Model.CurrentUser.UserName[0];
}
<p class="text-muted">@ViewData["Title"]</p>
<hr />

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var message in Model.Messages)
            {
                <li>
                    <span><img src="@titleLetter" alt="User Avatar" class="rounded-circle" /></span>
                </li>
                // <li>@message.Text</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>You can enter new message to @Model.ChatOwner.UserName</p>
    </div>
</div>
@Html.Partial("_AddNewMessage", new  AddNewMessageViewModel{ MessageText = String.Empty, AuthorId = @Model.CurrentUser.Id, ChatOwnerId = @Model.ChatOwner.Id})