@using Razor_VS_Code_test.Utils;

@inject UserManager<ApplicationUser> UserManager

@model MessagesListVievModel
@{
    ViewData["Title"] = "Ваша последняя переписка с " + Model.ChatOwner.UserName;
}
@{
    //var titleLetter = Consts.IconPlaceholderUrl + Model.CurrentUser.UserName[0];
}
<p class="text-muted">@ViewData["Title"]</p>
<hr />

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach (var message in Model.Messages)
            {
                <li class="list-group-item mb-3">
                    <div class="d-flex flex-row w-100">
                        @{
                            var titleLetter = Consts.IconPrimaryPlaceholderUrl + char.ToUpper(message.Author.UserName[0]);
                            var titleUserName = message.Author.UserName;

                            if (await UserManager.IsInRoleAsync(message.Author, "Administrator"))
                            {
                                titleLetter = Consts.IconSuccessPlaceholderUrl + "A";
                                titleUserName = "Администратор";
                            }
                        }
                        <div class="pr-3"><img src="@titleLetter" alt="User Avatar" class="rounded-circle" /></div>
                        <div class="row w-100">
                            <div class="d-flex justify-content-between col-12">
                                <div class="font-weight-bold">@titleUserName</div>
                                <div class="text-right text-muted small">@message.Date.ToString("MM/dd/yy H:mm:s")</div>
                            </div>
                            <div class="col-12">@message.Text</div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
@Html.Partial("_AddNewMessage", new  AddNewMessageViewModel{ MessageText = String.Empty, AuthorId = @Model.CurrentUser.Id, ChatOwnerId = @Model.ChatOwner.Id})