@model MessagesListVievModel
@{
    ViewData["Title"] = "Your list of messages";
}

<h4>@ViewData["Title"]</h4>
<p>Here is the list of your messages, @Model.CurrentUser.UserName</p>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var message in Model.Messages)
            {
                <li>@message.Text</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>You can enter new message to @Model.Partner.UserName</p>
    </div>
</div>
@Html.Partial("_AddNewMessage", new  AddNewMessageViewModel{ MessageText = String.Empty, AuthorId = @Model.CurrentUser.Id, PartnerId = @Model.Partner.Id})