 @model DiscountsListViewModel
 
 @{ ViewData["Title"] = "Акции и скидки наших партнёров"; }
<h3>@ViewData["Message"]</h3>

<p>Скидок и акций не найдено. Попробуйте изменить параметры фильтра.</p>
<div class="row">
  <div class="col-8">
    <div class="row">
      @foreach (var sale in Model.Sales)
      {
      <div class="col-6 mb-3">
        <div class="card-img bg-faded"></div>
        <div class="card-block">
          <h6 class="card-subtitle">@sale.Title</h6>
          <p class="text-muted">@sale.Description</p>
          <hr>
          <a href="#">Подробнее</a>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="col-4">
    <form asp-action="Index" asp-controller="Discount" method="GET">
      <fieldset class="form-group">
        <h3>Фильтры</h3>
        <hr>
        <div class="checkbox">
          <input asp-for="@Model.IsDisplayNew" />
          <label asp-for="@Model.IsDisplayNew"></label>
        </div>
        <input type="hidden" value="all" asp-for="@Model.Tags" />
        <button type="submit">Применить</button>
      </fieldset>
    </form>
    <div>
        @foreach(var tag in Model.Tags)
        {
          <a class="" asp-area="" asp-controller="Discount" asp-action="Index" asp-route-count="16" asp-route-isDisplayNew="@Model.IsDisplayNew" asp-route-tags="@tag.Title">@tag.Title (@tag.Sales.Count())</a>
        }
    </div>
  </div>
</div>