 @model DiscountsListViewModel
 
 @{ ViewData["Title"] = "Акции и скидки наших партнёров"; }
<p class="text-muted">Подробности акций вы можете уточнить по телефону</p>
<div class="row">
  <div class="col-9">
    <div class="row">
      @if (Model.Sales.Count == 0)
      {
        <div class="col-12">
          <p class="lead">Скидок и акций не найдено. Попробуйте изменить параметры фильтра.</p>
        </div>
      }
      @foreach (var sale in Model.Sales)
      {
      <div class="col-6 mb-3">
        <div class="card-img bg-faded"></div>
        <div class="card-block">
          <h6 class="card-subtitle">@sale.Title</h6>
          <p class="text-muted">@sale.Description</p>
          <hr>
          <a href="#">Подробнее</a>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="col-3">
    <form asp-action="Index" asp-controller="Discount" method="GET">
      <fieldset class="form-group">
        <h5>Фильтры</h5>
        <hr>
        <div class="checkbox">
          <input asp-for="@Model.IsDisplayNew" />
          <label asp-for="@Model.IsDisplayNew">Только новые</label>
        </div>
        <input type="hidden" value="all" asp-for="@Model.Tags" />
        <button type="submit" class="btn btn-secondary btn-sm">Применить</button>
      </fieldset>
    </form>
    <div class="pt-1">
      @foreach(var category in Model.Categories)
      {
        <h6>@category</h6>
        <ul class="list-unstyled">
        @foreach(var tag in Model.Tags)
        {
          if (tag.Category == category)
          {
            <li><a class="" asp-area="" asp-controller="Discount" asp-action="Index" asp-route-count="16" asp-route-isDisplayNew="@Model.IsDisplayNew" asp-route-tags="@tag.Title">@tag.Title (@tag.Sales.Count())</a></li>
          }
        }
        </ul>

      }
    </div>
  </div>
</div>