@model SiteConfig
@{
    ViewData["Title"] = "Контакты";
}

<h2 class="mt-3">@ViewData["Title"]</h2>
<hr />
<address>
    @Model.Name<br />
    @Model.City @Model.Street<br />
    <abbr title="Phone">Тел:</abbr>
    @Model.ClientPhones
</address>

<address>
	<strong>Время работы:</strong><br />
	<p>@Model.WorkingDaysString @Model.OpenHours - @Model.CloseHours</p>
</address>

<address>
    <strong>По вопросам партнёрства:</strong> <br />
	<a href="mailto:@Model.PartnerEmails">@Model.PartnerEmails</a><br />
    <strong>По вопросам работы сайта:</strong> <br />
	<a href="mailto:@Model.ClientEmails">@Model.ClientEmails</a>
</address>